.nav{
    background-color: #731739;
    padding: 5px;
}
.dropdown-item{
    background-color: #731739;
}
h1, a{
    color: #731739;
    text-decoration: none;
}
#navegador{
    padding: 0px;
}
.titulo{
    margin-top: 35px;
}
th{
    color: #731739;
}
h2{
    color: #731739;
    text-align: center;
}
h4{
    color: #731739;
}
#convocados{
    height: 600px;
    width: 500px;
    margin-left: 700px;
}
.img-noticias{
    width: 300px;
    height: 250px;
}
.ultimas-noticias{
    border: 2px solid #731739;
    border-radius: 5px;
}
.ultimas-noticias > img, .ultimas-noticias > h3{
    display: inline;
    margin-left: 20px; 
}
.conteudo{
    margin-top: 70px;
}


