.nav{
    background-color: #731739;
    padding: 5px;
}
.dropdown-item{
    background-color: #731739;
}
h1{
    color: #731739;
    text-decoration: none;
}
#navegador{
    padding: 0px;
}
.titulo{
    margin-top: 35px;
}
th{
    color: #731739;
}